// font size
.qyy-font-size-12{
  font-size: 1.2rem;
}

.qyy-font-size-8{
  font-size: 0.8rem;
}

.qyy-font-size-7{
  font-size: 0.7rem;
}

.qyy-font-size-6{
  font-size: 0.6rem;
}

// font color
.qy-text-color-0{
  color: #161616;
}

.qy-text-color-1{
  color: #636262;
}

.qyy-bg-color-0 {
	background-color: #F3F2F2;
}

// background color
.qyy-bg-color-1 {
	background-color: #FAFAFA;
}

.qyy-bg-color-2 {
	background-color: #FEFFFE;
}

.qyy-bg-color-red {
  background-color: #FE6D73;
}

.qyy-bg-color-blue {
  background-color: #ABBFFE;
}

// margin padding



// flex
.qyy-d-flex {
  display: flex;
}

.qyy-flex-row {
  display: flex;
  flex-direction: row;
}

.qyy-flex-wrap {
  flex-wrap: wrap;
}

.qyy-flex-column {
  display: flex;
  flex-direction: column;
}

.qyy-flex-content-between {
  display: flex;
  justify-content: space-between;
}

.qyy-tag .u-tag{
  border-radius: 2rem;
  padding: 4rpx 8rpx !important;
  font-size: 8rpx;
  display: block !important;
  margin-left: 5rpx;
}

.qyy-tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}